# IntelliJ / Android Studio
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
**/build/
**/.transforms/
**/.cxx/
**/.kotlin/

# Local config
local.properties

# Native build
.externalNativeBuild
.cxx

# Captures
/captures

# Firebase (optional if private)
app/google-services.json
